In [306]:
import pandas as pd
import numpy as np
import regex as re
from io import StringIO
import string
from datetime import datetime

In [307]:
# url = "https://www.sec.gov/Archives/edgar/data/1396440/000155837021001943/tmb-20201231x10k.htm"

# header = {
#   "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
#   "X-Requested-With": "XMLHttpRequest"
# }

# r = requests.get(url, headers=header)

In [308]:
# tables_on_page = pandas.read_html(r.text)

In [309]:
# master_table = None
# i = 0
# for df in tables_on_page:
#     for k in df.columns:
#         try:
#             if(len(k)>1):
#                 if("Company" in k[1]):
#                     print(df)
#                     if master_table is None:
#                         master_table = df
#                     else:
#                         master_table = master_table.append(df.reset_index(drop=True))
#         except:
#             print("Err")

In [310]:
# master_table = master_table.reset_index(drop=True)

In [311]:
# master_table.to_csv("testing_testing.csv")

# NEW

In [312]:
doc = "output-3-pandas.csv"
if('-35-' in doc):
    qtr_date = 'December 31, 2020'
else:
    qtr_date = '22132'
pd_csv = pd.read_csv(doc)
pd_csv = pd_csv.iloc[:, 1:]
# Resetting index
# Find out where portfolio company is
for col in pd_csv.columns:
    pd_csv[col] = pd_csv[col].astype(str).str.replace('  ', ' ')
    portfolio_index_list = pd_csv.index[pd_csv[col].astype(str).str.contains("Company")].to_list()
    if (len(portfolio_index_list) > 0):
        break
portfolio_index = portfolio_index_list[0]
# if(len(portfolio_index_list)>1):
#     pd_csv.drop(portfolio_index_list[1], inplace=True)

# Checking if all the column are in the row with portfolio and adding them if they are not.
for j in range(pd_csv.shape[1]):
    if (pd_csv.iat[portfolio_index - 1, j] == 'Principal'):
        pd_csv.iat[portfolio_index, j] = 'Principal'
    elif (pd_csv.iat[portfolio_index - 1, j] == 'Cost'):
        pd_csv.iat[portfolio_index, j] = 'Cost'
    elif (pd_csv.iat[portfolio_index - 1, j] == 'Fair'):
        pd_csv.iat[portfolio_index, j] = 'Fair Value'
    elif ('Principal' in str(pd_csv.iat[portfolio_index - 1, j])):
        pd_csv.iat[portfolio_index, j] = 'Principal'

print("Portofolio", portfolio_index)
# Removing rows before portfolio index
if (pd_csv.iloc[portfolio_index].str.contains('Company').any() == True):
    pd_csv = pd_csv.iloc[portfolio_index:]

Portofolio 1

In [313]:
pd_csv[-60:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
270,"North American Breweries Holdings, LLC(10)",NaN,Operator of Specialty Breweries,NaN,"LIBOR Plus 6.25%, Current Coupon 7.50%, Secure...",NaN,NaN,4000.0,NaN,NaN,3921,NaN,NaN,4020.0,NaN
271,"Northland Cable Television, Inc.(10)",NaN,Television Broadcasting,NaN,"LIBOR Plus 6.00%, Current Coupon 7.75%, Secure...",NaN,NaN,4812.0,NaN,NaN,4710,NaN,NaN,4692.0,NaN
272,Oberthur Technologies SA(10)(12),NaN,"Smart Card, Printing, Identity, and Cash Prote...",NaN,"LIBOR Plus 5.00%, Current Coupon 6.25%, Secure...",NaN,NaN,6965.0,NaN,NaN,6648,NaN,NaN,6913.0,NaN
273,Oneida Ltd.(10),NaN,Household Products Manufacturer,NaN,"LIBOR Plus 7.75%, Current Coupon 9.25%, Secure...",NaN,NaN,1933.0,NaN,NaN,1899,NaN,NaN,1904.0,NaN
274,"Panolam Industries International, Inc.(10)",NaN,Decorative Laminate Manufacturer,NaN,"LIBOR Plus 6.00%, Current Coupon 7.25%, Secure...",NaN,NaN,4048.0,NaN,NaN,4010,NaN,NaN,4038.0,NaN
275,"Peppermill Casinos, Inc.(10)",NaN,Operator of Casinos and Gaming Operations,NaN,"LIBOR Plus 6.00%, Current Coupon 7.25%, Secure...",NaN,NaN,2295.0,NaN,NaN,2204,NaN,NaN,2246.0,NaN
276,Phillips Plastic Corporation(10),NaN,Custom Molder of Plastics and Metals,NaN,"LIBOR Plus 5.00%, Current Coupon 6.50%, Secure...",NaN,NaN,1728.0,NaN,NaN,1714,NaN,NaN,1723.0,NaN
277,"Physician Oncology Services, L.P.(10)",NaN,Provider of Radiation Therapy and Oncology Ser...,NaN,"LIBOR Plus 6.25%, Current Coupon 7.75%, Secure...",NaN,NaN,942.0,NaN,NaN,935,NaN,NaN,904.0,NaN
278,PL Propylene LLC(10)(12),NaN,Propylene Producer,NaN,"LIBOR Plus 5.75%, Current Coupon 7.00%, Secure...",NaN,NaN,3970.0,NaN,NaN,3901,NaN,NaN,4035.0,NaN
279,"Preferred Proppants, LLC(10)",NaN,Producer of Sand Based Proppants,NaN,"LIBOR Plus 6.00%, Current Coupon 7.50%, Secure...",NaN,NaN,5942.0,NaN,NaN,5823,NaN,NaN,5526.0,NaN
280,ProQuest LLC(10),NaN,Academic Research Portal,NaN,"LIBOR Plus 4.75%, Current Coupon 6.00%, Secure...",NaN,NaN,4963.0,NaN,NaN,4918,NaN,NaN,4997.0,NaN
281,"PRV Aerospace, LLC(10)",NaN,Aircraft Equipment Manufacturer,NaN,"LIBOR Plus 5.25%, Current Coupon 6.50%, Secure...",NaN,NaN,5972.0,NaN,NaN,5917,NaN,NaN,5987.0,NaN
282,"Radio One, Inc.(10)",NaN,Radio Broadcasting,NaN,"LIBOR Plus 6.00%, Current Coupon 7.50%, Secure...",NaN,NaN,2932.0,NaN,NaN,2891,NaN,NaN,2983.0,NaN
283,"Relativity Media, LLC(10)",NaN,Full-scale Film and,NaN,"10.00% Secured Debt (Maturity - May 24, 2015)",NaN,NaN,4904.0,NaN,NaN,4825,NaN,NaN,5087.0,NaN
284,nan,NaN,Television Production and,NaN,"15.00% PIK Secured Debt (Maturity - May 24, 2015)",NaN,NaN,5477.0,NaN,NaN,5214,NaN,NaN,5294.0,NaN
285,nan,NaN,Distribution,NaN,Class A Units (Fully diluted 0.2%),NaN,NaN,NaN,NaN,NaN,292,NaN,NaN,292.0,NaN
286,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10331,NaN,NaN,10673.0,NaN
287,"Sabre Industries, Inc.(10)",NaN,Manufacturer of Telecom Structures and Equipment,NaN,"LIBOR Plus 5.75%, Current Coupon 7.00%, Secure...",NaN,NaN,6500.0,NaN,NaN,6407,NaN,NaN,6565.0,NaN
288,"Shale-Inland Holdings, LLC(10)",NaN,"Distributor of Pipe, Valves, and Fittings",NaN,"8.75% Bond (Maturity - November 15, 2019)",NaN,NaN,3000.0,NaN,NaN,3000,NaN,NaN,3143.0,NaN
289,"Sonneborn, LLC(10)",NaN,Specialty Chemicals Manufacturer,NaN,"LIBOR Plus 5.00%, Current Coupon 6.50%, Secure...",NaN,NaN,2978.0,NaN,NaN,2924,NaN,NaN,3030.0,NaN
290,Sourcehov LLC(10),NaN,Business Process Services,NaN,"LIBOR Plus 5.38%, Current Coupon 6.63%, Secure...",NaN,NaN,2955.0,NaN,NaN,2874,NaN,NaN,2921.0,NaN
291,nan,NaN,NaN,NaN,"LIBOR Plus 9.25%, Current Coupon 10.50%, Secur...",NaN,NaN,5000.0,NaN,NaN,4537,NaN,NaN,4581.0,NaN
292,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7411,NaN,NaN,7502.0,NaN
293,"Surgery Center Holdings, Inc.(10)",NaN,Ambulatory Surgical Centers,NaN,"LIBOR Plus 5.00%, Current Coupon 6.50%, Secure...",NaN,NaN,4881.0,NaN,NaN,4863,NaN,NaN,4857.0,NaN
294,"The Tennis Channel, Inc .",NaN,Television-Based Sports Broadcasting,NaN,"LIBOR Plus 6% / 4% PIK, Current Coupon with PI...",NaN,NaN,11050.0,NaN,NaN,12776,NaN,NaN,12776.0,NaN
295,nan,NaN,NaN,NaN,Warrants (Fully diluted 0.1%),NaN,NaN,NaN,NaN,NaN,235,NaN,NaN,235.0,NaN
296,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13011,NaN,NaN,13011.0,NaN
297,Totes Isotoner Corporation(10),NaN,Weather Accessory Retail,NaN,"LIBOR Plus 5.75%, Current Coupon 7.25%, Secure...",NaN,NaN,4717.0,NaN,NaN,4642,NaN,NaN,4729.0,NaN
298,TriNet HR Corporation(10)(12),NaN,Outsourced Human Resources Solutions,NaN,"LIBOR Plus 5.25%, Current Coupon 6.50%, Secure...",NaN,NaN,3000.0,NaN,NaN,3000,NaN,NaN,3011.0,NaN
299,"UniTek Global Services, Inc.(10)",NaN,Provider of Outsourced Infrastructure Services,NaN,"LIBOR Plus 7.50%, Current Coupon 9.00%, Secure...",NaN,NaN,4379.0,NaN,NaN,4268,NaN,NaN,4308.0,NaN
300,"Universal Fiber Systems, LLC",NaN,Manufacturer of Synthetic Fibers,NaN,"LIBOR Plus 5.75%, Current Coupon 7.50%, Secure...",NaN,NaN,5274.0,NaN,NaN,5182,NaN,NaN,5195.0,NaN
301,"US Xpress Enterprises, Inc.(10)",NaN,Truckload Carrier,NaN,"LIBOR Plus 7.50%, Current Coupon 9.00%, Secure...",NaN,NaN,6500.0,NaN,NaN,6374,NaN,NaN,6484.0,NaN
302,"Vantage Specialties, Inc.(10)",NaN,Manufacturer of Specialty Chemicals,NaN,"LIBOR Plus 5.50%, Current Coupon 7.00%, Secure...",NaN,NaN,3970.0,NaN,NaN,3900,NaN,NaN,4000.0,NaN
303,VFH Parent LLC(10),NaN,Electronic Trading and Market Making,NaN,"LIBOR Plus 6.00%, Current Coupon 7.50%, Secure...",NaN,NaN,3394.0,NaN,NaN,3344,NaN,NaN,3404.0,NaN
304,Visant Corporation(10),NaN,School Affinity Stores,NaN,"LIBOR Plus 4.00%, Current Coupon 5.25%, Secure...",NaN,NaN,3923.0,NaN,NaN,3923,NaN,NaN,3575.0,NaN
305,"Vision Solutions, Inc.(10)",NaN,Provider of Information Availability Software,NaN,"LIBOR Plus 4.50%, Current Coupon 6.00%, Secure...",NaN,NaN,2506.0,NaN,NaN,2325,NaN,NaN,2340.0,NaN
306,nan,NaN,NaN,NaN,"LIBOR Plus 8.00%, Current Coupon 9.50%, Secure...",NaN,NaN,5000.0,NaN,NaN,4962,NaN,NaN,4875.0,NaN
307,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7287,NaN,NaN,7215.0,NaN
308,Walter Investment Management Corp.(10)(12),NaN,Real Estate Services,NaN,"LIBOR Plus 4.50%, Current Coupon 5.75%, Secure...",NaN,NaN,2469.0,NaN,NaN,2444,NaN,NaN,2484,NaN
309,"Western Dental Services, Inc.(10)",NaN,Dental Care Services,NaN,"LIBOR Plus 7.00%, Current Coupon 8.25%, Secure...",NaN,NaN,5000.0,NaN,NaN,4853,NaN,NaN,4894,NaN
310,Wilton Brands LLC(10),NaN,Specialty Housewares Retailer,NaN,"LIBOR Plus 6.25%, Current Coupon 7.50%, Secure...",NaN,NaN,1975.0,NaN,NaN,1937,NaN,NaN,2000,NaN
311,Wireco Worldgroup Inc.(10),NaN,Manufacturer of Synthetic Lifting Products,NaN,"LIBOR Plus 4.75%, Current Coupon 6.00%, Secure...",NaN,NaN,2494.0,NaN,NaN,2471,NaN,NaN,2550,NaN
312,"WP CPP Holdings, LLC(10)",NaN,Manufacturer of,NaN,"LIBOR Plus 4.50%, Current Coupon 5.75%, Secure...",NaN,NaN,4000.0,NaN,NaN,3960,NaN,NaN,4020,NaN
313,nan,NaN,Aerospace and Defense,NaN,"(Maturity - December 28, 2019)(9)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,nan,NaN,Components,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,Zilliant Incorporated,NaN,Price Optimization and,NaN,"12% Secured Debt (Maturity - June 15, 2017)",NaN,NaN,8000.0,NaN,NaN,6866,NaN,NaN,6866,NaN
316,nan,NaN,Margin Management,NaN,Warrants (Fully diluted 3.0%),NaN,NaN,NaN,NaN,NaN,1071,NaN,NaN,1071,NaN
317,nan,NaN,Solutions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7937,NaN,NaN,7937,NaN
319,Subtotal Non-Control/Non-Affiliate Investments...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,456975,NaN,NaN,467543,NaN
320,"Main Street Capital Partners, LLC (Investment ...",NaN,Asset Management,NaN,100% of Membership Interests,NaN,NaN,NaN,NaN,NaN,2668,NaN,NaN,-,NaN
321,"Total Portfolio Investments, December 31, 2012",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,819733,NaN,NaN,924431,NaN
322,Marketable Securities and Idle Funds Investments,NaN,Investments in Marketable Securities and Diver...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,Ceridian Corporation (12),NaN,NaN,NaN,"LIBOR Plus 5.75%, Current Coupon 5.96%, Secure...",NaN,NaN,10000.0,NaN,NaN,10025,NaN,NaN,10013.0,NaN
324,Compass Investors Inc.(12),NaN,NaN,NaN,"LIBOR Plus 4.00%, Current Coupon 5.25%, Secure...",NaN,NaN,7000.0,NaN,NaN,7005,NaN,NaN,6994.0,NaN
325,First Data Corporation (12),NaN,NaN,NaN,"LIBOR Plus 4.00%, Current Coupon 4.21%, Secure...",NaN,NaN,5000.0,NaN,NaN,4763,NaN,NaN,4767.0,NaN
326,"Toll Road Investors Partnership II, LP Bond(12)",NaN,NaN,NaN,"Zero Coupon Bond (Maturity - February 15, 2033)",NaN,NaN,7500.0,NaN,NaN,1742,NaN,NaN,1834.0,NaN
327,Univision Communications Inc.(12),NaN,NaN,NaN,"LIBOR Plus 4.25%, Current Coupon 4.46%, Secure...",NaN,NaN,5000.0,NaN,NaN,4934,NaN,NaN,4927.0,NaN
328,Subtotal Marketable Securities and Idle Funds ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28469,NaN,NaN,28535.0,NaN
329,"Total Investments, December 31, 2012",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,848202,NaN,NaN,952966.0,NaN

In [314]:
#Identifying levels in the dataframe
listOfLevels = list()
for i in range(pd_csv.shape[0]):
    for j in range(pd_csv.shape[1]):
        if (pd.notnull(pd_csv.iat[i, j])):
            # print(pd_csv.iat[i, j])
            if ((('investments' in str(pd_csv.iat[i, j])) or ('Investments' in str(pd_csv.iat[i, j]))) and
                    ('Subtotal' not in pd_csv.iat[i, j]) and ('Total' not in pd_csv.iat[i, j]) and
                    ('Inc' not in pd_csv.iat[i, j]) and ('Fund' not in pd_csv.iat[i, j]) and 
                    ('LLC' not in pd_csv.iat[i, j]) and ('L.P' not in pd_csv.iat[i, j])  and 
                    ('CMS' not in pd_csv.iat[i, j]) and ('Holdings' not in pd_csv.iat[i, j])  ):
                listOfLevels.append(i)

In [315]:
listOfInvestments = list()

if (pd_csv.iloc[0].str.contains('Type of Investment').any() == False):
    for i in range(pd_csv.shape[0]):
        for j in range(pd_csv.shape[1]):
            if (pd.notnull(pd_csv.iat[i, j])):
                # print(pd_csv.iat[i, j])
                if ((('Senior Secured Notes' in str(pd_csv.iat[i, j])) or
                     ('Senior Secured Second Lien Term Loans' in str(pd_csv.iat[i, j])) or
                     ('Warrants/Equity' in str(pd_csv.iat[i, j])))
                        and ('Total' not in str(pd_csv.iat[i, j]))):
                    listOfInvestments.append(i)
    # Adding the Levels to an array
    InvestmentValues = []
    InvestmentValues.append("Type of Investments")
    InvestmentValues.append("")
    for i in range(len(listOfInvestments)):
        beginIndex = listOfInvestments[i]
        if (i == len(listOfInvestments) - 1):
            endIndex = len(pd_csv)
        else:
            endIndex = listOfInvestments[i + 1]
        value = pd_csv.iat[beginIndex, 0]
        value = ''.join([i for i in value if not i.isdigit()])
        value = re.sub("[^\P{P}-]+", "", value)
        for x in range(beginIndex, endIndex):
            InvestmentValues.append(value)
            # Adding the array to the df
    # pd_csv.insert(1, 'Type of Investments', InvestmentValues)

In [316]:
remove = string.punctuation
remove = remove.replace("-", "") # don't remove hyphens
pattern = r"[{}]".format(remove) # create the pattern

# Adding the Levels to an array
newValues = []
newValues.append("Levels")

for i in range(len(listOfLevels)):
    beginIndex = listOfLevels[i]
    if (i == len(listOfLevels) - 1):
        endIndex = len(pd_csv)
    else:
        endIndex = listOfLevels[i + 1]
    value = pd_csv.iat[beginIndex, 0]
    value = ''.join([i for i in value if not i.isdigit()])
    value = re.sub("[^\P{P}-]+", "", value)
    print("Begin",beginIndex)
    print("End",endIndex)
    for x in range(beginIndex, endIndex):
        newValues.append(value)

#print(newValues)
if(len(newValues)<(len(pd_csv))):
    newValues.insert(0, 'Levels')
# Adding the array to the df
pd_csv.insert(0, 'Levels', newValues)

Begin 1
End 123
Begin 123
End 184
Begin 184
End 329

In [317]:
# Finding Subtotals
pd_csv.reset_index()
subtotal_list = list()
total_list = list()
for i in range(pd_csv.shape[0]):
    for j in range(pd_csv.shape[1]):
        if (('Subtotal' in str(pd_csv.iat[i, j]))):
            # print(pd_csv.iloc[i,:])
            subtotal_list.append(i)

print("Subtotal", subtotal_list)
# Dropping the subtotal rows
pd_csv.drop(pd_csv.index[subtotal_list], inplace=True)

# Finding Totals
total_list = list()
for i in range(pd_csv.shape[0]):
    for j in range(pd_csv.shape[1]):
        if ('Total' in str(pd_csv.iat[i, j])):
            total_list.append(i)
            
print("Total list",total_list)
pd_csv.drop(pd_csv.index[total_list], inplace=True)
# Dropping everything after the total rows
try:
    pd_csv = pd_csv.iloc[:total_list[-1]]
except:
    print("Total not found")
    
for i in range(5):
    for j in range(pd_csv.shape[1]):
        if ('TypeofInvestment' in str(pd_csv.iat[i,j]).translate({ord(c): None for c in string.whitespace})):
            type_of_investment_index = j
            break
        elif ('Industry' in str(pd_csv.iat[i,j]).translate({ord(c): None for c in string.whitespace})):
            type_of_investment_index = j
print("type_of_investment_index",type_of_investment_index)

Subtotal [122, 183, 318, 327]
Total list [317, 324]
type_of_investment_index 5

In [318]:
#print(type_of_investment_index)
# Adding company for the middle values where it might be missed out
for i in range(2, pd_csv.shape[0]):
    for j in range(type_of_investment_index):
        row_alphabet_check = False
        if (pd.isnull(pd_csv.iat[i, j]) or (pd_csv.iat[i, j] == 'nan')):
            # print("Index",i,j)
            if (i > 0):
                # print(pd_csv.iat[i-1,j])
                if (pd.isnull(pd_csv.iat[i - 1, j])):
                    1
                else:
                    if (re.search('[a-zA-Z]', str(pd_csv.iat[i - 1, j]))):
                        for k in range(pd_csv.shape[1]):
                            if (re.search('[a-zA-Z]', str(pd_csv.iat[i, k])) and pd.notnull(pd_csv.iat[i, k])):
                                # print("Alpha Check",pd_csv.iat[i,k])
                                row_alphabet_check = True
                                break
                        if (row_alphabet_check):
                            # print(pd_csv.iat[i-1,j])
                            pd_csv.iat[i, j] = pd_csv.iat[i - 1, j]

In [319]:
pd_csv

,Levels,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,Levels,Portfolio Company(1),NaN,Business Description,NaN,Type of Investment(2)(3),NaN,Principal(4),NaN,Cost(4),NaN,Fair Value,NaN,NaN,NaN,NaN
2,Control Investments,Control Investments(5),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Control Investments,"Bond-Coat, Inc .",NaN,Casing and Tubing,NaN,"12% Secured Debt (Maturity December28, 2017)",NaN,NaN,14750.0,NaN,NaN,14550,NaN,NaN,14550,NaN
4,Control Investments,"Bond-Coat, Inc .",NaN,Coating Services,NaN,Common Stock (Fully diluted 43.4%),NaN,NaN,NaN,NaN,NaN,6350,NaN,NaN,6350,NaN
5,Control Investments,"Bond-Coat, Inc .",NaN,Coating Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,Non-ControlNon-Affiliate Investments,Ceridian Corporation (12),NaN,Investments in Marketable Securities and Diver...,NaN,"LIBOR Plus 5.75%, Current Coupon 5.96%, Secure...",NaN,NaN,10000.0,NaN,NaN,10025,NaN,NaN,10013.0,NaN
324,Non-ControlNon-Affiliate Investments,Compass Investors Inc.(12),NaN,Investments in Marketable Securities and Diver...,NaN,"LIBOR Plus 4.00%, Current Coupon 5.25%, Secure...",NaN,NaN,7000.0,NaN,NaN,7005,NaN,NaN,6994.0,NaN
325,Non-ControlNon-Affiliate Investments,First Data Corporation (12),NaN,Investments in Marketable Securities and Diver...,NaN,"LIBOR Plus 4.00%, Current Coupon 4.21%, Secure...",NaN,NaN,5000.0,NaN,NaN,4763,NaN,NaN,4767.0,NaN
326,Non-ControlNon-Affiliate Investments,"Toll Road Investors Partnership II, LP Bond(12)",NaN,Investments in Marketable Securities and Diver...,NaN,"Zero Coupon Bond (Maturity - February 15, 2033)",NaN,NaN,7500.0,NaN,NaN,1742,NaN,NaN,1834.0,NaN
327,Non-ControlNon-Affiliate Investments,Univision Communications Inc.(12),NaN,Investments in Marketable Securities and Diver...,NaN,"LIBOR Plus 4.25%, Current Coupon 4.46%, Secure...",NaN,NaN,5000.0,NaN,NaN,4934,NaN,NaN,4927.0,NaN

In [320]:
for i in range(5):
    for j in range(pd_csv.shape[1]):
        if ('Principal' in str(pd_csv.iat[i,j]).translate({ord(c): None for c in string.whitespace})):
            principal_index = j
            break
print("Principal Index",principal_index)

Principal Index 7

In [321]:
# Identifying index of maturity
i = 0
# Extracting the column data after shares/warrants/principal
try:
    pd_csv_principal = pd_csv.iloc[:, principal_index:]
    pd_csv_principal = pd_csv_principal.replace("%",np.nan)
    pd_csv_principal = pd_csv_principal.replace("\u200b",np.nan)
    pd_csv_principal = pd_csv_principal.replace("\u200b.1",np.nan)
    
    pd_csv_principal = pd.read_csv(StringIO(re.sub(',+', ',', pd_csv_principal.to_csv())))

except:
    print("no Maturity")

In [322]:
pd_csv_principal

     Unnamed: 0             6        7           8   9  10  11  12  13  14
0             1  Principal(4)  Cost(4)  Fair Value NaN NaN NaN NaN NaN NaN
1             2           NaN      NaN         NaN NaN NaN NaN NaN NaN NaN
2             3       14750.0    14550       14550 NaN NaN NaN NaN NaN NaN
3             4          6350     6350         NaN NaN NaN NaN NaN NaN NaN
4             5           NaN      NaN         NaN NaN NaN NaN NaN NaN NaN
..          ...           ...      ...         ...  ..  ..  ..  ..  ..  ..
318         323       10000.0    10025     10013.0 NaN NaN NaN NaN NaN NaN
319         324        7000.0     7005      6994.0 NaN NaN NaN NaN NaN NaN
320         325        5000.0     4763      4767.0 NaN NaN NaN NaN NaN NaN
321         326        7500.0     1742      1834.0 NaN NaN NaN NaN NaN NaN
322         327        5000.0     4934      4927.0 NaN NaN NaN NaN NaN NaN

[323 rows x 10 columns]

In [323]:
pd_csv_principal = pd_csv_principal.iloc[:,1:]
# Dropping columns with Nulls
perc = 95  # Like N %
min_count = int(((100 - perc) / 100) * pd_csv_principal.shape[0] + 1)
pd_csv_principal = pd_csv_principal.dropna(axis=1,
                                           thresh=min_count)

In [324]:
for i in range(5):
    for j in range(pd_csv_principal.shape[1]):
        if ('FairValue' in str(pd_csv_principal.iat[i,j]).translate({ord(c): None for c in string.whitespace})):
            fair_index = j
            break
print("Fair Value Index",fair_index)

Fair Value Index 2

In [325]:
pd_csv_principal = pd_csv_principal.iloc[:,:fair_index+1]

In [326]:
pd_csv_principal

                6        7           8
0    Principal(4)  Cost(4)  Fair Value
1             NaN      NaN         NaN
2         14750.0    14550       14550
3            6350     6350         NaN
4             NaN      NaN         NaN
..            ...      ...         ...
318       10000.0    10025     10013.0
319        7000.0     7005      6994.0
320        5000.0     4763      4767.0
321        7500.0     1742      1834.0
322        5000.0     4934      4927.0

[323 rows x 3 columns]

In [327]:
if (qtr_date == 'December 31, 2020'):
    fair_cols = [col for col in pd_csv.columns if 'Fair' in col]
    pd_csv = pd_csv.reset_index(drop=True)

    for i in range(int(pd_csv_principal.shape[0])):
        for j in range(int(pd_csv_principal.shape[1])):
            #print(i)
            #print(pd_csv.iat[i,j])
            if(pd.isnull(pd_csv_principal.iat[i,j])):
                1
                #print("")
            elif('-' in pd_csv_principal.iat[i,j]):
                if(len(pd_csv_principal.iat[i,j])>1):
                    pd_csv_principal.iat[i,j] = np.nan

In [328]:
for i in range(int(pd_csv_principal.shape[0])):
    for j in range(pd_csv_principal.shape[1]):
        try:
            pd_csv_principal.iat[i,j] = re.sub(r"\(\d+\)", "", pd_csv_principal.iat[i,j])
            if(pd_csv_principal.iat[i,j] == ''):
                pd_csv_principal.iat[i,j] = np.nan
        except:
            print("Bracket digits not removed")

Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed
Bracket digits not removed

In [329]:
pd_csv_principal

             6      7           8
0    Principal   Cost  Fair Value
1          NaN    NaN         NaN
2      14750.0  14550       14550
3         6350   6350         NaN
4          NaN    NaN         NaN
..         ...    ...         ...
318    10000.0  10025     10013.0
319     7000.0   7005      6994.0
320     5000.0   4763      4767.0
321     7500.0   1742      1834.0
322     5000.0   4934      4927.0

[323 rows x 3 columns]

In [330]:
try:
    last_1_nan_list = pd_csv_principal.index[(pd_csv_principal.iloc[:, -1].isnull()) & (pd_csv_principal.iloc[:, -2].notnull()) & (
        pd_csv_principal.iloc[:, -3].notnull())].to_list()
    pd_csv_principal.loc[last_1_nan_list] = pd_csv_principal.loc[last_1_nan_list].shift(1, axis=1)
except:
    print("No Rate")

In [331]:
pd_csv_principal[:60]

            6      7           8
0   Principal   Cost  Fair Value
1         NaN    NaN         NaN
2     14750.0  14550       14550
3         NaN   6350        6350
4         NaN    NaN         NaN
5         NaN  20900       20900
6       500.0    500         500
7         NaN     42        3690
8         NaN    NaN         NaN
9         NaN    542        4190
10     8103.0   7913        8016
11        NaN   1193        3380
12        NaN   1177        1560
13        NaN    NaN         NaN
14        NaN  10283       12956
15      450.0    450         450
16        NaN   1300        7800
17        NaN    NaN         NaN
18        NaN    NaN         NaN
19        NaN   1750        8250
20     4000.0   3993        3993
21        NaN   3000        3000
22        NaN   5273
23     1066.0   1066        1066
24        NaN    625         860
25        NaN    NaN         NaN
26        NaN  13957        8919
27     4661.0   4652        4652
28        NaN    320         600
29        NaN    NaN         NaN
30        NaN   4972        5252
31      919.0    919         919
32        NaN   2980       12660
33        NaN    NaN         NaN
34        NaN   3899       13579
35     5024.0   4644        5024
36        NaN   1081        1081
37        NaN    718        1550
38        NaN    NaN         NaN
39        NaN   6443        7655
40        NaN    589        1140
41        NaN    NaN         NaN
42        NaN   1215        1215
43        NaN    NaN         NaN
44        NaN   1804        2355
45        NaN   7095       13710
46     4150.0   3982        4070
47        NaN   1129        2130
48        NaN    NaN         NaN
49        NaN   5111        6200
50     1696.0   1696      1696.0
51     1759.0   1759      1759.0
52        NaN    811      2060.0
53        NaN   4266      5515.0
54     1892.0   1892      1892.0
55        NaN    493       493.0
56        NaN     54         4.0
57        NaN    100        36.0
58        NaN   2539      2425.0
59    10250.0  10045     10045.0

In [332]:
pd_csv = pd_csv.iloc[:, :principal_index].reset_index(drop=True)
# Concatting everything together
pd_csv = pd.concat([pd_csv, pd_csv_principal], axis=1)

In [333]:
perc = 100  # Like N %
min_count = int(((100 - perc) / 100) * pd_csv.shape[0] + 1)
# Dropping columns which have 100% NaN
pd_csv = pd_csv.dropna(axis=1,
                       thresh=min_count)

new_header = pd_csv.iloc[0]  # grab the first row for the header
#new_header = new_header.str.replace("Shares/Warrants/Principal","Shares Warrants Principal")
pd_csv = pd_csv[1:]  # take the data less the header row
pd_csv.columns = new_header.str.replace(r"\(\d+\)", "")  # set the header row as the df header

C:\Users\jaiso\AppData\Local\Temp\ipykernel_11508\4052734264.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  pd_csv.columns = new_header.str.replace(r"\(\d+\)", "")  # set the header row as the df header

In [334]:
pd_csv = pd_csv.replace("~", ",", regex=True)
#pd_csv = pd_csv.iloc[:, 1:]

# Dropping columns which NaN as column names
pd_csv = pd_csv.loc[:, pd_csv.columns.notna()]
maturity_cols = [col for col in pd_csv.columns if 'Maturity' in col]
if(len(maturity_cols)<1):
    pd_csv = pd_csv.dropna(thresh=len(pd_csv.columns) - 3)
else:
    pd_csv = pd_csv.dropna(thresh=len(pd_csv.columns) - 5)

In [335]:
perc = 95  # Like N %
min_count = int(((100 - perc) / 100) * pd_csv.shape[0] + 1)
pd_csv = pd_csv.dropna(axis=1,thresh=min_count)

In [336]:
pd_csv.isnull().sum()/len(pd_csv)

0
Levels                  0.000000
Portfolio Company       0.000000
Business Description    0.000000
Type of Investment      0.185430
Principal               0.463576
Cost                    0.009934
Fair Value              0.009934
dtype: float64

In [337]:
try:
    pd_csv.drop('.1', inplace=True, axis=1)
except:
    print(".1 column not present")

.1 column not present

In [338]:
pd_csv

,Levels,Portfolio Company,Business Description,Type of Investment,Principal,Cost,Fair Value
2,Control Investments,"Bond-Coat, Inc .",Casing and Tubing,"12% Secured Debt (Maturity December28, 2017)",14750.0,14550,14550
3,Control Investments,"Bond-Coat, Inc .",Coating Services,Common Stock (Fully diluted 43.4%),NaN,6350,6350
5,Control Investments,"Bond-Coat, Inc .",Coating Services,NaN,NaN,20900,20900
6,Control Investments,"Caf Brazil,LLC",Casual Restaurant Group,"12% Secured Debt (Maturity April20, 2013)",500.0,500,500
7,Control Investments,"Caf Brazil,LLC",Casual Restaurant Group,Member Units (Fully diluted 41.0%)(8),NaN,42,3690
...,...,...,...,...,...,...,...
318,Non-ControlNon-Affiliate Investments,Ceridian Corporation (12),Investments in Marketable Securities and Diver...,"LIBOR Plus 5.75%, Current Coupon 5.96%, Secure...",10000.0,10025,10013.0
319,Non-ControlNon-Affiliate Investments,Compass Investors Inc.(12),Investments in Marketable Securities and Diver...,"LIBOR Plus 4.00%, Current Coupon 5.25%, Secure...",7000.0,7005,6994.0
320,Non-ControlNon-Affiliate Investments,First Data Corporation (12),Investments in Marketable Securities and Diver...,"LIBOR Plus 4.00%, Current Coupon 4.21%, Secure...",5000.0,4763,4767.0
321,Non-ControlNon-Affiliate Investments,"Toll Road Investors Partnership II, LP Bond(12)",Investments in Marketable Securities and Diver...,"Zero Coupon Bond (Maturity - February 15, 2033)",7500.0,1742,1834.0
322,Non-ControlNon-Affiliate Investments,Univision Communications Inc.(12),Investments in Marketable Securities and Diver...,"LIBOR Plus 4.25%, Current Coupon 4.46%, Secure...",5000.0,4934,4927.0

In [339]:
## Switch unless there is Maturity Date in the picture
if(len(maturity_cols)<1):
    last_2_as_nan_list = pd_csv.index[(pd_csv.iloc[:,-3].isnull()) & (pd_csv.iloc[:,-4].isnull())  & (pd_csv.iloc[:,-5].notnull())].to_list()
    #Need to drop last 2 NaN List
    pd_csv.drop(last_2_as_nan_list,inplace=True)
else:
    print("Maturity column present")

In [340]:
#Code for the overflowing business description
pd_csv = pd_csv.reset_index(drop=True)

comp_cols = [col for col in pd_csv.columns if 'Company' in col]
desc_cols = [col for col in pd_csv.columns if 'Description' in col]

business_desc_index = list()
business_desc_temp = ''
i = 0
while(i < len(pd_csv)-1):
    if( pd_csv.loc[i,comp_cols[0]] == pd_csv.loc[i+1,comp_cols[0]] ):
        if((pd_csv.loc[i,desc_cols[0]] != pd_csv.loc[i+1,desc_cols[0]])):
            company_name = pd_csv.loc[i,comp_cols[0]]
            k = 0
            business_desc_temp = ''
            #print(company_name)
            while ( k != -1 and k+i+1<len(pd_csv)):
                #print("K",k)
                if(company_name == pd_csv.loc[k+i,comp_cols[0]]):
                    #print("Company Name",pd_csv.loc[k+i,comp_cols[0]])
                    if(str(pd_csv.loc[k+i,desc_cols[0]]) not in business_desc_temp):
                        business_desc_temp = business_desc_temp+' '+str(pd_csv.loc[k+i,desc_cols[0]])
                    #print(business_desc_temp)
                else:
                    break
                k = k + 1
            index_run = 0
            while(index_run < k):
                pd_csv.loc[index_run+i,desc_cols[0]] = business_desc_temp
                index_run = index_run + 1
            i = i + k
    i = i + 1

In [341]:
#last 2 nan
pd_csv = pd_csv.reset_index(drop=True)
try:
    last_2_nan_list = pd_csv.index[(pd_csv.iloc[:, -1].isnull()) & (pd_csv.iloc[:, -2].isnull())].to_list()
    #pd_csv_principal.loc[last_2_nan_list] = pd_csv_principal.loc[last_1_nan_list].shift(1, axis=1)
except:
    print("No Nulls")

In [342]:
pd_csv.columns

Index(['Levels', 'Portfolio Company', 'Business Description',
       'Type of Investment', 'Principal', 'Cost', 'Fair Value'],
      dtype='object', name=0)

In [343]:
for i in last_2_nan_list:
    print(pd_csv.loc[i-1])

0
Levels                                                Control Investments
Portfolio Company            Hawthorne Customs and Dispatch Services,LLC
Business Description     Facilitator of Import Logistics, Brokerage, a...
Type of Investment                  Member Units (Fully diluted 47.6%)(8)
Principal                                                             NaN
Cost                                                                  589
Fair Value                                                           1140
Name: 21, dtype: object
0
Levels                                              Affiliate Investments
Portfolio Company                                              SYNEO, LLC
Business Description     Manufacturer of Specialty Cutting Tools and P...
Type of Investment            10% Secured Debt (Leadrock Properties, LLC)
Principal                                                          1440.0
Cost                                                                 1413
Fair Value                                                         1413.0
Name: 119, dtype: object
0
Levels                               Non-ControlNon-Affiliate Investments
Portfolio Company                                WP CPP Holdings, LLC(10)
Business Description                Manufacturer of Aerospace and Defense
Type of Investment      LIBOR Plus 4.50%, Current Coupon 5.75%, Secure...
Principal                                                          4000.0
Cost                                                                 3960
Fair Value                                                           4020
Name: 236, dtype: object

In [344]:
last_nan = list()
pd_csv = pd_csv.reset_index(drop=True)

try:
    for i in range(int(pd_csv.shape[0])):
        if(pd_csv.iat[i,pd_csv.shape[1]-1] == ' ' or pd_csv.iat[i,pd_csv.shape[1]-1] == '  '):
            last_nan.append(i)
            pd_csv.iat[i,pd_csv.shape[1]-1] = np.nan
    #pd_csv.loc[last_nan, maturity_cols[0]:] = pd_csv.loc[last_nan, maturity_cols[0]:].shift(1, axis=1)
except:
    print("Error while switching for last column")

In [345]:
pd_csv.loc[last_nan]

Empty DataFrame
Columns: [Levels, Portfolio Company, Business Description, Type of Investment, Principal, Cost, Fair Value]
Index: []

In [346]:
pd_csv = pd_csv.fillna("")

In [347]:
pd_csv[:60]

,Levels,Portfolio Company,Business Description,Type of Investment,Principal,Cost,Fair Value
0,Control Investments,"Bond-Coat, Inc .",Casing and Tubing Coating Services,"12% Secured Debt (Maturity December28, 2017)",14750.0,14550,14550
1,Control Investments,"Bond-Coat, Inc .",Casing and Tubing Coating Services,Common Stock (Fully diluted 43.4%),,6350,6350
2,Control Investments,"Caf Brazil,LLC",Casual Restaurant Group,"12% Secured Debt (Maturity April20, 2013)",500.0,500,500
3,Control Investments,"Caf Brazil,LLC",Casual Restaurant Group,Member Units (Fully diluted 41.0%)(8),,42,3690
4,Control Investments,"California Healthcare Medical Billing, Inc .",Outsourced Billing and Revenue Cycle Management,"12% Secured Debt (Maturity October17, 2015)",8103.0,7913,8016
5,Control Investments,"California Healthcare Medical Billing, Inc .",Outsourced Billing and Revenue Cycle Management,Warrants (Fully diluted 21.3%),,1193,3380
6,Control Investments,"California Healthcare Medical Billing, Inc .",Outsourced Billing and Revenue Cycle Management,Common Stock (Fully diluted 9.8%),,1177,1560
7,Control Investments,"CBT Nuggets,LLC",Produces and Sells IT,"14% Secured Debt (Maturity December31, 2013)",450.0,450,450
8,Control Investments,"CBT Nuggets,LLC",Training Certification,Member Units (Fully diluted 41.6%)(8),,1300,7800
9,Control Investments,"Ceres Management,LLC (Lambs)",Aftermarket Automotive Services Chain,"14% Secured Debt (Maturity May31, 2013)",4000.0,3993,3993
10,Control Investments,"Ceres Management,LLC (Lambs)",Aftermarket Automotive Services Chain,ClassB Member Units (12% cumulative),,3000,3000
11,Control Investments,"Ceres Management,LLC (Lambs)",Aftermarket Automotive Services Chain,Member Units (Fully diluted 79.0%),,5273,
12,Control Investments,"Ceres Management,LLC (Lambs)",Aftermarket Automotive Services Chain,9.5% Secured Debt (Lamb's Real Estate Investme...,1066.0,1066,1066
13,Control Investments,"Ceres Management,LLC (Lambs)",Aftermarket Automotive Services Chain,"Member Units (Lamb's Real Estate InvestmentI,...",,625,860
14,Control Investments,"Condit Exhibits,LLC",Tradeshow Exhibits / Custom Displays,13% Current / 5% PIK Secured Debt (Maturity ...,4661.0,4652,4652
15,Control Investments,"Condit Exhibits,LLC",Tradeshow Exhibits / Custom Displays,Warrants (Fully diluted 47.9%),,320,600
16,Control Investments,"Gulf Manufacturing,LLC",Manufacturer of Specialty Fabricated Industri...,"9% PIK Secured Debt (Ashland Capital IX,LLC) ...",919.0,919,919
17,Control Investments,"Gulf Manufacturing,LLC",Manufacturer of Specialty Fabricated Industri...,Member Units (Fully diluted 34.2%)(8),,2980,12660
18,Control Investments,"Harrison Hydra-Gen,Ltd .",Manufacturer of,"9% Secured Debt (Maturity June4, 2015)",5024.0,4644,5024
19,Control Investments,"Harrison Hydra-Gen,Ltd .",Hydraulic Generators,Preferred Stock (8% cumulative)(8),,1081,1081
20,Control Investments,"Harrison Hydra-Gen,Ltd .",Hydraulic Generators,Common Stock (Fully diluted 34.5%)(8),,718,1550
21,Control Investments,"Hawthorne Customs and Dispatch Services,LLC","Facilitator of Import Logistics, Brokerage, a...",Member Units (Fully diluted 47.6%)(8),,589,1140
22,Control Investments,"Hawthorne Customs and Dispatch Services,LLC","Facilitator of Import Logistics, Brokerage, a...","Member Units (Wallisville Real Estate,LLC) (F...",,,
23,Control Investments,"Hawthorne Customs and Dispatch Services,LLC","Facilitator of Import Logistics, Brokerage, a...",diluted 59.1%)(8),,1215,1215
24,Control Investments,"Hydratec, Inc .",Designer and Installer of Micro-Irrigation Sys...,Common Stock (Fully diluted 94.2%)(8),,7095,13710
25,Control Investments,"Indianapolis Aviation Partners,LLC",Fixed Base Operator,"15% Secured Debt (Maturity September15, 2014)",4150.0,3982,4070
26,Control Investments,"Indianapolis Aviation Partners,LLC",Fixed Base Operator,Warrants (Fully diluted 30.1%),,1129,2130
27,Control Investments,"Jensen Jewelers of Idaho, LLC",Retail Jewelry Store,"Prime Plus 2%, Current Coupon 5.25%, Secured D...",1696.0,1696,1696.0
28,Control Investments,"Jensen Jewelers of Idaho, LLC",Retail Jewelry Store,13% Current / 6% PIK Secured Debt (Maturity - ...,1759.0,1759,1759.0
29,Control Investments,"Jensen Jewelers of Idaho, LLC",Retail Jewelry Store,Member Units (Fully diluted 60.8%)(8),,811,2060.0
30,Control Investments,"Lighting Unlimited, LLC",Commercial and Residential Lighting Products ...,"8% Secured Debt (Maturity - August 22, 2014)",1892.0,1892,1892.0
31,Control Investments,"Lighting Unlimited, LLC",Commercial and Residential Lighting Products ...,Preferred Stock (non-voting),,493,493.0
32,Control Investments,"Lighting Unlimited, LLC",Commercial and Residential Lighting Products ...,Warrants (Fully diluted 7.1%),,54,4.0
33,Control Investments,"Lighting Unlimited, LLC",Commercial and Residential Lighting Products ...,Common Stock (Fully diluted 70.0%)(8),,100,36.0
34,Control Investments,"Marine Shelters Holdings, LLC",Fabricator of Marine and,"12% Secured Debt (Maturity - December 28, 2017)",10250.0,10045,10045.0
35,Control Investments,"Marine Shelters Holdings, LLC",Industrial Shelters,Preferred Stock (Fully diluted 26.7%),,3750,3750.0
36,Control Investments,"Mid-Columbia Lumber Products, LLC",Manufacturer of Finger- Jointed Lumber Products,"10% Secured Debt (Maturity - December 18, 2014)",1250.0,1250,1250.0
37,Control Investments,"Mid-Columbia Lumber Products, LLC",Manufacturer of Finger- Jointed Lumber Products,"12% Secured Debt (Maturity - December 18, 2014)",3900.0,3900,3900.0
38,Control Investments,"Mid-Columbia Lumber Products, LLC",Manufacturer of Finger- Jointed Lumber Products,"9.5% Secured Debt (Mid - Columbia Real Estate,...",1017.0,1017,1017.0
39,Control Investments,"Mid-Columbia Lumber Products, LLC",Manufacturer of Finger- Jointed Lumber Products,Warrants (Fully diluted 9.2%),,250,1470.0
40,Control Investments,"Mid-Columbia Lumber Products, LLC",Manufacturer of Finger- Jointed Lumber Products,Member Units (Fully diluted 42.9%),,882,1580.0
41,Control Investments,"Mid-Columbia Lumber Products, LLC",Manufacturer of Finger- Jointed Lumber Products,"Member Units (Mid - Columbia Real Estate, LLC)...",,250,810.0
42,Control Investments,"NAPCO Precast, LLC",Precast Concrete Manufacturing,"Prime Plus 2%, Current Coupon 9%, Secured Debt...",3385.0,3334,3334.0
43,Control Investments,"NAPCO Precast, LLC",Precast Concrete Manufacturing,"18% Secured Debt (Maturity - February 1, 2016)",5173.0,5093,5093.0
44,Control Investments,"NAPCO Precast, LLC",Precast Concrete Manufacturing,Member Units (Fully diluted 44.0%),,2975,4360.0
45,Control Investments,"NRI Clinical Research, LLC",Clinical Research Center,"14% Secured Debt (Maturity - September 8, 2016)",4736.0,4506,4506.0
46,Control Investments,"NRI Clinical Research, LLC",Clinical Research Center,Warrants (Fully diluted 12.5%),,252,480.0
47,Control Investments,"NRI Clinical Research, LLC",Clinical Research Center,Member Units (Fully diluted 24.8%)(8),,500,960.0
48,Control Investments,"NRP Jones, LLC","Manufacturer of Hoses, Fittings and Assemblies","12% Secured Debt (Maturity - December 22, 2016)",12100.0,11200,11891.0
49,Control Investments,"NRP Jones, LLC","Manufacturer of Hoses, Fittings and Assemblies",Warrants (Fully diluted 12.2%),,817,1350.0
50,Control Investments,"NRP Jones, LLC","Manufacturer of Hoses, Fittings and Assemblies",Member Units (Fully diluted 43.2%)(8),,2900,4800.0
51,Control Investments,"OMi Holdings, Inc .",Manufacturer of Overhead,"12% Secured Debt (Maturity - April 1, 2013)",6000.0,5997,6000.0
52,Control Investments,"OMi Holdings, Inc .",Cranes,Common Stock (Fully diluted 48.0%),,1080,8740.0
53,Control Investments,"Pegasus Research Group, LLC (Televerde)",Telemarketing and Data Services,13% Current / 5% PIK Secured Debt (Maturity - ...,4991.0,4946,4991.0
54,Control Investments,"Pegasus Research Group, LLC (Televerde)",Telemarketing and Data Services,Member Units (Fully diluted 43.7%)(8),,1250,3790.0
55,Control Investments,"PPL RVs, Inc .",Recreational Vehicle Dealer,"11.1% Secured Debt (Maturity - June 10, 2015)",8460.0,8404,8460.0
56,Control Investments,"PPL RVs, Inc .",Recreational Vehicle Dealer,Common Stock (Fully diluted 51.1%),,2150,6120.0
57,Control Investments,"Principle Environmental, LLC",Noise Abatement Services,"12% Secured Debt (Maturity - February 1, 2016)",4750.0,3945,4750
58,Control Investments,"Principle Environmental, LLC",Noise Abatement Services,12% Current / 2% PIK Secured Debt (Maturity - ...,3594.0,3539,3594
59,Control Investments,"Principle Environmental, LLC",Noise Abatement Services,Warrants (Fully diluted 14.2%),,1200,3860

In [348]:
#df_xlsx = pd.read_excel('MAIN_Final_Test_2.xlsx', sheet_name=None)

In [349]:
#df_xlsx_1 = pd.read_excel('MAIN_Final_Test.xlsx', sheet_name=None)

In [350]:
#Loop through the sheets and print the number of rows
# for sheet_name in df_xlsx.keys():
#     df = df_xlsx[sheet_name]
#     df_2 = df_xlsx_1[sheet_name]
#     print(f"{sheet_name} has {len(df.index)} rows in df1 and {len(df_2.index)} in df 2")